{#{% block form_label %}#}
    {#<div class="col-md-3 control-label control-label required">#}

        {#{{ name }}#}
        {#&#123;&#35;{{ name|upper }}&#35;&#125;#}

    {#</div>#}

    {{ form_label(form, null, {'label_attr': {'class': 'lelee'}}) }}

{#{% endblock %}#}