{% extends "base.html.twig" %}
{% block body %}
<h1>Admin Panel</h1>
<table class="rwd-table">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    <tr>
        {% for product in products %}
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.description}}</td>
        {% endfor %}
    </tr>
</table>
{% endblock %}
