{% extends "base.html.twig" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .special { color: red; }
    </style>
{% endblock %}
{% block content %}
    <p>
        Welcome to my awesome homepage.
    </p>
{% endblock %}