{% extends '::base.html.twig' %}


{% block title %}Register Form{% endblock title %}


{% block headline %}Register Please:{% endblock headline %}


    {% block content %}

        {% include "@FOSUser/Registration/register_content.html.twig" %}

    {% endblock %}

{% block footer %}

    <p>&copy; <a href="comit group" target="_blank">Milos_Shomsy</a> 2015
    </p>

{% endblock footer %}


